<a href="https://colab.research.google.com/github/jazacmq/jaza-cm/blob/main/Repaso_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Ciencia de Datos
Este pequeño repaso de python contiene lo básico necesario para completar el curso de Ciencia de Datos

## Tipos de datos y variables

Existen distintos tipos de datos en Python

 - int (Enteros)
 - float (Flotantes o reales)
 - string (Cadenas)
 - bool (Booleanos)

In [ ]:
a = "5" #Esto es una cadena
b = 5 #Esto es un entero

In [ ]:
print("Tipo de a ", type(a))
print("Tipo de b ", type(b))

Tipo de a  <class 'str'>
Tipo de b  <class 'int'>

In [ ]:
float(5.9999999) #Recordemos que el tipo entero redonde hacia abajo

5

In [ ]:
print(a)
print(type(a))
a = float(a) #Pasamos de tipo cadena a tipo de dato a flotante
print(a)
print(type(a))
a = str(a) # Pasamos de tipo flotante a tipo a cadena
print(a)
print(type(a)) # Si intentamos pasar de flotante a string pueden haber errores

5
<class 'str'>
5.0
<class 'float'>
5.0
<class 'str'>

In [ ]:
a = 5 #Entero
a = int(a) # Pasar un tipo de dato a entero
a == b  #Podemos comparar datos correctamente solo si son del mismo tipo

## Operadores

In [ ]:
a = 5
b = 8

In [ ]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

print("Modulo:", a, b, b % a) #(MODULO) Es el RESIDUO de la división
print(f"Modulo: {a} {b} {b % a}") #f-string

13
-3
40
0.625
Modulo: 5 8 3
Modulo: 5 8 3

## Estructuras de datos
Existen diferentes estructuras de datos que son útiles a la hora de trabajar con Python como son:
* Listas
* Tuplas
* Diccionarios (Hash Maps) ó (Hash Tables)
* Conjuntos

### [ Listas ]
Una lista es una colección de datos en donde **si** importa el orden de los elementos. Además, los elementos en una lista pueden ser de diferentes tipos. Es decir, puedes tener una lista que contenga enteros y cadenas al mismo tiempo.

Se puede acceder a sus elementos por índice y puede tener elementos repetidos.

Mas info: https://docs.python.org/3/tutorial/datastructures.html#

In [ ]:
l = [12, "Hola", [7, 8.2, 9, 8, 52]] # Creamos una lista de 3 elementos

In [ ]:
l[2][0] # Entramos al primer elemento de la
        # sub lista contenida en la 3era posición de la lista principal

7

In [ ]:
m = l[2]  #Así podemos asignar variables de valores por índice
m

[7, 8.2, 9, 8, 52]

In [ ]:
m[0]

7

In [ ]:
len(l) # Tamaño de una lista
l[-1] #Último elemento de la lista
l[0] #Primer elemento de la lista

[7, 8.2, 9, 8, 52]

In [ ]:
l = [12, "Hola", [7, 8.2, 9, 8, 52], 12, 12] # Generamos una nueva lista

In [ ]:
l

['Hola', [7, 8.2, 9, 8, 52], 12]

In [ ]:
l[1].pop(0) #Pop elimina valores dado un índice

7

In [ ]:
l

['Hola', [8.2, 9, 8, 52], 12]

In [ ]:
n = l[0:2] #Hacemos una rebanada o slice
#l[1:3]
n

[12, 'Hola']

In [ ]:
lista = [1, "Gato", [], [2, "X"], 7]       # Para crear una lista se utilizan corchetes []

# Para acceder a algún elemento de la lista, basta con llamar el índice de la misma

print("El 1er elemento de la lista es : ", lista[0])
print("El 3er elemento de la lista es : ", lista[2])

# Para acceder a "X", se necesita acceder al 4to elemento de la lista original y posteriormente al 2do elemento
print("Así se puede acceder a la X : ", lista[3][1])

lista.append(3)                         # Se pueden añadír elementos al final de la lista con el método append
lista.append(7)
print("Se agrega 3 al final : ", lista)
lista[0] = "Nuevo"                      # Se puede añadír y modificar un elemento de la lista especificando su posición
print("Cambiamos el 1er elemento por Nuevo : ", lista)


lista.remove(7)                            # Se elimina el primer elemento que se encuentre con remove
print("Lista sin 7 : ", lista)
lista.pop(2)                            # Se elimina el elemento en el índice dado con pop
print("Lista sin tercer elemento : ", lista)

El 1er elemento de la lista es :  1
El 3er elemento de la lista es :  []
Así se puede acceder a la X :  X
Se agrega 3 al final :  [1, 'Gato', [], [2, 'X'], 7, 3, 7]
Cambiamos el 1er elemento por Nuevo :  ['Nuevo', 'Gato', [], [2, 'X'], 7, 3, 7]
Lista sin 7 :  ['Nuevo', 'Gato', [], [2, 'X'], 3, 7]
Lista sin tercer elemento :  ['Nuevo', 'Gato', [2, 'X'], 3, 7]

### ( Tuplas )
Una tupla es una colección de datos en donde **si** importa el orden de los elementos. Además, los elementos en una lista pueden ser de diferentes tipos. Sin embargo, a diferencia de las listas, las tuplas no pueden alterarse. Es decir, no pueden agregar ni quitar objetos una vez que la tupla fue creada

Mas info: https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences

In [ ]:
tupla = (1, "Gato", [], [2, "X"], 7)       # Para crear una tupla se utilizan paréntesis ( )

# Para acceder a algún elemento de la tupla, basta con llamar el índice de la misma

print("El 1er elemento de la tupla es : ", tupla[0])

El 1er elemento de la tupla es :  1

### { : Diccionarios : }
Los diccionarios se identifican en algunos leguajes como arrays asociativos. A diferencia de una sequencia, en donde se puede identificar un elemento dado el índice de su posición, los elementos de un diccionario son accesibles a travez de su llave.

Es mejor pensar en un diccionario como un par llava-valor con la condición de que cada llave, debe ser única.

Mas info: https://docs.python.org/3/tutorial/datastructures.html#dictionaries

In [ ]:
diccionario = {"palabra_esp" : "palabra_ingles",
               5 : ["Datos"],
               "otro" : {"Experimento" : "Bernoulli"}}
diccionario

{'palabra_esp': 'palabra_ingles',
 5: ['Datos'],
 'otro': {'Experimento': 'Bernoulli'}}

In [ ]:
diccionario["palabra_esp"] = "palabra_frances"
diccionario

{'palabra_esp': 'palabra_frances',
 5: ['Datos'],
 'otro': {'Experimento': 'Bernoulli'}}

In [ ]:
diccionario = {  "LLAVE" : "VALOR",                                           # Para crear un diccionario se utilizan corchetes {} y se asigna una pareja llave-valor a travez de dos puntos :
                  "Otra llave" : ["Valor dentro de una lista"]   }

print("El diccionario nuevo : ", diccionario)

diccionario["Nueva llave"] = 7                                                # Si se quiere agregar un valor nuevo al diccionario se llama explicitamente la llave en el diccionario

print("El diccionario con nueva llave : ", diccionario)

diccionario["Nombre"] = "Mauricio"

# Para acceder al segundo valor del diccionario, se necesita preguntar por la llave
print("Así se puede acceder al valor asociado a la llave nombre : ", diccionario["Nombre"])

El diccionario nuevo :  {'LLAVE': 'VALOR', 'Otra llave': ['Valor dentro de una lista']}
El diccionario con nueva llave :  {'LLAVE': 'VALOR', 'Otra llave': ['Valor dentro de una lista'], 'Nueva llave': 7}
Así se puede acceder al valor asociado a la llave nombre :  Mauricio

### {  Conjuntos  }
Los conjuntos son similares a los conceptos de conjunto en matemáticas. No pueden tener elementos duplicados, no tienen orden y pueden hacer las operaciónes usuales como union e intersección

Mas info: https://docs.python.org/3/tutorial/datastructures.html#sets

In [ ]:
conjunto = {"manzana", "papaya", "platano", "durazno", "limon"}                  # Para crear un conjunto se utilizan corchetes {}
print("Conjunto principal : ", conjunto)

otro_conjunto = {"limon", "pera"}
print("Conjunto auxiliar", otro_conjunto)

diferencia = conjunto - otro_conjunto                                            # Diferencia : Elementos que estan en conjunto pero no en otro_conjunto
print("Diferencia : ", diferencia)

union = conjunto | otro_conjunto                                                 # Union : Elementos que estan en conjunto o están en otro_conjunto
print("Union : ", union)

interseccion = conjunto & otro_conjunto                                          # Intersección : Elementos que estan en ambos conjuntos
print("Intersección : ", interseccion)

lista = [1, 2, 3]
convertida = set(lista)                                                          # Convertimos una lista en un conjunto
print("El tipo de objeto que es la lista original : " , type(lista))
print("El tipo de objeto que es la lista convertida : " , type(convertida))
convertida = list(convertida)                                                    # Convertimos un conjunto en una lista
print("El tipo de objeto que es la lista convertida nuevamente : " , type(convertida))

Conjunto principal :  {'papaya', 'platano', 'limon', 'manzana', 'durazno'}
Conjunto auxiliar {'limon', 'pera'}
Diferencia :  {'platano', 'manzana', 'papaya', 'durazno'}
Union :  {'manzana', 'papaya', 'durazno', 'platano', 'limon', 'pera'}
Intersección :  {'limon'}
El tipo de objeto que es la lista original :  <class 'list'>
El tipo de objeto que es la lista convertida :  <class 'set'>
El tipo de objeto que es la lista convertida nuevamente :  <class 'list'>

### Array

La estructura de **array**, o arreglo como normalmente se conoce en otros lenguajes de programación, viene dada por la librería Numpy: https://numpy.org/doc/stable/reference/generated/numpy.array.html
Esta presenta mucha similitud con las listas de python.

In [ ]:
import numpy as np

In [ ]:
print(   np.array([5, 8, "Ciencia de Datos"])   ) #Esto NO

print(   np.array([5, 8, 9])   ) #Esto SI

['5' '8' 'Ciencia de Datos']
[5 8 9]

In [ ]:
#Como hacer una matriz
a = np.array([[1, 2, 3],
             [4, 5, 6],
             [7, 8, 9]])

a[0][0]

1

## Ejercicios de Estructuras de datos

**Ejemplo de pseudocódigo con Fibonacci**

Para preparar un pastel de cumpleaños, se necesitan los ingredientes del recetario que vienen en la lista: ingredientes_recetario.
En casa se cuenta con diferentes ingredientes listados en: ingredientes_en_casa.
La tarea consise en encontrar los ingredientes faltantes y encontrar cuánto costaría hacer el pastel si es que compramos los ingredientes faltantes de la tienda. Los costos se encuentran en el diccionario precios_de_tienda.

Sigue los siguientes pasos para resolver el problema:


1.   Convierte en conjuntos ambas listas

2.  Con ayuda de una diferencia entre el recetario y los ingredientes en casa, encuentra los ingredientes faltantes

3.  Convierte en una lista los elementos que encontraste

4.  Entra a los elementos de la lista utilizando los índices y busca sus precios en el diccionario. No olvides guardar cada precio

5.   Suma los precios que encontraste

In [ ]:
ingredientes_recetario = ["huevos", "leche", "harina", "levadura",
                          "mantequilla", "chocolate",]

precios_de_tienda = {"huevos" : 20,
                     "mantequilla" : 10,
                     "gansito" : 8,
                     "harina" : 10,
                     "levadura" : 5,
                     "vainilla" : 10,
                     "chocolate" : 25}

ingredientes_en_casa = ["leche", "manteca", "jitomate", "manzana", "almendras", "levadura", "huevos"]

In [ ]:
casa = set(ingredientes_en_casa)

receta = set(ingredientes_recetario)

faltantes = receta - casa

faltantes = list(faltantes)
print(faltantes)
#                        precios_de_tienda["chocolate"] ->  precios_de_tienda[faltantes[0]]
c = precios_de_tienda[faltantes[0]]
h = precios_de_tienda[faltantes[1]]
m = precios_de_tienda[faltantes[2]]

c + h + m

['chocolate', 'harina', 'mantequilla']

45

## Condicionales y ciclos

### Condicional **If**
Se utiliza la palabra reservada **if**, si se requiere que alguna instrucción se ejecute en caso de cierta condición.

Esta condición puede ir acompañada de las palabras reservadas **else** o **elif** para ejecutar intrucciones en caso de que la primera no se cumpla, o en caso de cumplir otra condiccion respectivamente.

Probemos un ejemplo.
Supongamos que queremos saber si el precio de la gasolina aumentó mas del 15% desde ayer. Crearemos un código que dados los precios de gasolina de ayer y hoy, nos dice si el precio cambió mas del 15%

In [ ]:
precio_ayer = 22.5
precio_hoy = 30.5

condicion = (precio_ayer + precio_ayer * 0.15 < precio_hoy)     # Se crea una condición con valor True o False dependiendo de si supero el 15%

print("La condición es : ", condicion)

La condición es :  True

In [ ]:
# Estructura del if

if condicion is True:                                           # Se comprueba la condición
  print("El precio superó el 15%")                              # Si se cumple la condición anterior, se ejecuta la linea, de lo contrario, no se hace

El precio superó el 15%

In [ ]:
# Estructura del if con else:

if condicion is False:                                           # Se comprueba la condición
  print("El precio NO superó el 15%")                            # Si se cumple la condición anterior, se ejecuta la linea, de lo contrario, no se hace (En este caso, no se hace)
else:                                                            # En caso de no haberse ejecutado el o los if anteriores, se ejecuta esta
  print("El precio superó el 15%")

El precio superó el 15%

In [ ]:
# Estructura del if con elif:

if condicion is True:                                           # Se comprueba la condición
  print("El precio superó el 15%")                              # Si se cumple la condición anterior, se ejecuta la linea, de lo contrario, no se hace (En este caso, no se hace)
elif condicion == 5:                                            # En caso de que se cumpla esta nueva condicion, esta se ejecuta y se saltará las demas
  print("Esta linea imprime el 5")
elif condicion == 6:                                            # En caso de que se cumpla esta nueva condicion, esta se ejecuta y se saltará las demas
  print("Esta linea imprime el 6")
elif condicion is False:                                        # En caso de que se cumpla esta nueva condicion, esta se ejecuta y se saltará las demas
  print("El precio NO superó el 15%")
else:                                                           # En caso de que se no se haya cumplido ninguna condicion, se ejecuta esta
  print("Se saltó los bucles anteriores")

El precio superó el 15%

Ejemplo práctico: Se construye un menú para una contestadora

In [ ]:
# Crearemos un menú interactivo para una contestadora automática en un banco

opcion = 3

In [ ]:
if opcion == 1:
  print("Consulta de saldo")

elif opcion == 2:
  print("Actualizacion de datos personales")

elif opcion == 3:
  print("Robo o extravío e cuenta")

elif opcion == 4:
  print("Llame a un operador")

else:
  print("Opción nno valida, pruebe de nuevo")

Robo o extravío e cuenta

### Ciclo **For**
Se utiliza la palabra reservada **for**, si se requiere iterar a lo largo de una serie de elementos. Es decir, recorrer uno a uno los elementos de una serie e ir ejecutando una serie de instrucciones para cada elemento.

In [ ]:
range(1, 5)
1, 2, 3, 4

(1, 2, 3, 4)

In [ ]:
for i in range(1, 5):
  print(i)

1
2
3
4

In [ ]:
lista = [1, "Gato", 7, 8 , [], "Perro", "Gato"]

In [ ]:
len(lista)

7

In [ ]:
#Encontrando el índice de un elemento en una lista

for i in range(len(lista)):

  if lista[i] == "Gato":
    print("La palabra se encuentra en la posición : ", i)
  else:
    print("Gato no está en la posición ", i)

Gato no está en la posición  0
La palabra se encuentra en la posición :  1
Gato no está en la posición  2
Gato no está en la posición  3
Gato no está en la posición  4
Gato no está en la posición  5
La palabra se encuentra en la posición :  6

### Ciclo **While**

While es una palabra reservada que se utiliza para crear un ciclo infinito hasta que se cumpla cierta condición

In [ ]:
numero = 10

while numero < 20:
  print("El numero ", numero, " es menor a 20")
  numero = numero + 1

print("El último número en memoria es : ", numero)

El numero  10  es menor a 20
El numero  11  es menor a 20
El numero  12  es menor a 20
El numero  13  es menor a 20
El numero  14  es menor a 20
El numero  15  es menor a 20
El numero  16  es menor a 20
El numero  17  es menor a 20
El numero  18  es menor a 20
El numero  19  es menor a 20
El último número en memoria es :  20

In [ ]:
#Crea un programa que encuentre los primeros 10 números pares

pares = []
inicio = 1

while len(pares) < 10:

  if (inicio % 2) == 0:
    pares.append(inicio)
    print("El numero ", inicio, " es par")

  inicio = inicio + 1

print(pares)

El numero  2  es par
El numero  4  es par
El numero  6  es par
El numero  8  es par
El numero  10  es par
El numero  12  es par
El numero  14  es par
El numero  16  es par
El numero  18  es par
El numero  20  es par
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## Ejercicio de ciclos y condicionales

Se creó una lista de números consecutivos del 0 al 50.
Encuentra en dónde existen números equivocados, guarda en una lista los números que están equivocados y en otra los que están correctos. Cambia también los números equivocados por los correctos en la lista original

In [ ]:
lista_mala =        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                     11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
                     21, 22, 23, 24, 25, 25, 27, 28, 29, 30,
                     31, 32, 32, 34, 35, 36, 37, 31, 39, 40,
                     41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
                     51, 52, 55]

In [ ]:
contador = 0
equivocados = []
aciertos = []

for i in range(len(lista_mala)):

  if contador != lista_mala[i]:
    equivocados.append(lista_mala[i])
    lista_mala[i] = contador

  else:
    aciertos.append(lista_mala[i])

  contador = contador + 1

## Funciones y Clases

### Funciones

Una funcion son una serie de instrucciones

In [ ]:
#Función sin parámetros ni retorno

def funcion_di_hola():
  print("Hola")
  print("Adios")

In [ ]:
#Funcion con parámetros y retorno

def funcion_suma_dos_numeros(a, b):
  return a + b

In [ ]:
b = "5"
a = "8"

funcion_suma_dos_numeros(a, b)

'85'

In [ ]:
#Funcion documentada

def suma(int1 : int, int2 : int) -> int:
  """
  Funcion que suma dos números enteros
  Args:
        int1 (int) : Primer entero a sumar
        int2 (int) : Segundo entero a sumar
  Output:
        int : Entero resultante de la suma de dos números
  """
  return int1 + int2

In [ ]:
suma(5, 7)

12

### Clases

Una clase es una forma de empaquetar datos y funcionalidades en un mismo ente. Normalmente hacen referencia a un objeto en la vida real que tiene sus propias propiedades y su propio comportamiento.

In [ ]:
class Gato():

  def __init__(self, nombre, color):
    self.nombre = nombre
    self.color = color

  def maullar(self):
    print("Miau")

  def verificar_collar(self):
    print(self.nombre, "se sacude y se muestra su nombre en su placa")

  def comer(self, numero_de_atunes):
    print(self.nombre, "se comió", numero_de_atunes, "atunes")

In [ ]:
michi = Gato("Michi", "Blanco")
roberta = Gato("Roberta", "Negro")

In [ ]:
michi.comer(2)

Michi se comió 2 atunes

In [ ]:
roberta.comer(7)

Roberta se comió 7 atunes

In [ ]:
michi.verificar_collar()

Michi se sacude y se muestra su nombre en su placa

In [ ]:
roberta.verificar_collar()

Roberta se sacude y se muestra su nombre en su placa

In [ ]:
class Perro():

  def __init__(self, nombre):
    self.nombre = nombre

  def ladra(self):
    print("Guau")

  def patita(self):
    print(self.nombre, "te da la pata")

In [ ]:
perro1 = Perro("Max")
perro2 = Perro("Oden")

In [ ]:
perro1.ladra()

Guau

In [ ]:
perro2.ladra()

Guau

In [ ]:
perro2.patita()

Oden te da la pata